.item-lista {
    font-size: 1rem;
    color: #555;
    padding-left: 1.2rem;
    position: relative;
    margin-bottom: 10px;
}

.item-lista::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: rgb(0, 71, 129);
}