.container-header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 5px;
    background-color: rgb(221 242 255);
    height: 50px;
    margin-bottom: 16px;
    justify-content: space-between;
    flex-direction: row;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

.container-header__title {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    font-weight: bolder;
    color: var(--cor-fonte-base);
}

.container-header__actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 7px;
    align-items: center;
    height: 100%;
    width: 50%;
}

.container-header__actions button {
    background-color: transparent;
    border: none;
    width: 52px;
    height: 100%;
    padding: 0px;
}

.container-header__actions button img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}