.operating-systems {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    gap: 30px;
}

.operating-systems img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    object-fit: contain;
}

@media (max-width: 768px) {
    .operating-systems {
        flex-direction: column;
        align-items: center;
    }

    .operating-systems img {
        margin-bottom: 12px;
    }

    h2 {
        font-size: 1.6rem;
    }

    p,
    ul li {
        font-size: 0.9rem;
    }
}