.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    border-radius: 11px;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}