@import url('./reset.css');

:root {
  --cor-base: rgb(221 242 255);
  --cor-fundo: #f9fbfd;
  --cor-fonte-base: rgb(0, 71, 129);
  --cor-fonte-base-active: rgb(0, 55, 100);
  --fonte-principal: 'Segoe UI', sans-serif;

}

body {
  height: 100vh;
  width: 100%;
}

#root {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--cor-fundo);
  box-sizing: border-box;
}

#conteudo {
  flex: 1;
}

button {
  font-weight: 600;
}