@import url('./reset.css');

:root {
    --cor-base: rgb(221 242 255);
    --cor-fonte-base: rgb(0, 71, 129);
    --fonte-principal: 'Arial', sans-serif;

}

#root  {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}