.principal {
    width: 75%;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

#container-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  height: 666px;
}

#apresentacao-busca {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.apresentacao-homepage-titulo {
    font-size: xxx-large;
    color: var(--cor-fonte-base);
}

.apresentacao-homepage-h3 {
    font-size: larger;
}

#apresentacao-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: 6%;
}

.linha {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.coluna {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#apresentacao-imagem {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagem-principal {
    width: 100%;
    height: 100%;
}

#imagem-principal img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

button.confirm {
    background-color: var(--cor-fonte-base);
    color: #f9fbfd;
    border: none;
    border-radius: 5px;
    width: 198px;
    height: 50px;
}

button.confirm:active {
    background-color: var(--cor-fonte-base-active);
}

@media (max-width: 1024px) {

    .apresentacao-homepage-titulo {
        font-size: xx-large;
        color: var(--cor-fonte-base);
    }

    .apresentacao-homepage-h3 {
        font-size: medium;
    }

    button.confirm {
        width: 137px;
        height: 38px;
    }

}

@media (max-width: 634px) {

    .apresentacao-homepage-titulo {
        font-size: x-large;
        color: var(--cor-fonte-base);
    }

    .apresentacao-homepage-h3 {
        font-size: small;
    }

}

@media (max-width: 505px) {

    .linha {
        flex-direction: column-reverse;
    }

    .apresentacao-homepage-titulo {
        font-size: xx-large;
        color: var(--cor-fonte-base);
    }

    .apresentacao-homepage-h3 {
        font-size: large;
    }

    #col2 {
        height: 50%;
    }

    #imagem-principal img {
        object-fit: cover;
    }

}